
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>oogy</title>
<script type="application/x-javascript" src="static/js/clmtracker.js"></script>
<script type="application/x-javascript" src="static/js/main.js"></script>


<style>
#container {
  position: relative;
}
#video {
  width: 500px;
  height: 375px;
  background-color: #666;
}
#drawCanvas {
  position: absolute;
  left: 0;
  top: 0;
}
</style>

<body>

<h> testing </h>

<link rel="shortcut icon" href="#" />


<div id="container">

<video autoplay="true" playsinline="" id="videoElement" width="800" height="450">
</video>
<canvas id="drawCanvas" width="800" height="450"></canvas>


<!--  -->
</div>
</body>

</html>